{% extends 'base.html.twig' %}

{% block title %}Edit Affaire{% endblock %}

{% block body %}
    <h1>Edit Affaire</h1>

    {{ include('affaire/_form.html.twig', {'button_label': 'Update'}) }}
   

    <a href="{{ path('affaire_index') }}">back to list</a>

    {{ include('affaire/_delete_form.html.twig') }}
{% endblock %}
